/* BOBY */
body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
}

/* HEADER */
h1 {
  color: hsl(223, 100%, 64%);
  text-shadow: 2px 2px 5px hsla(200, 38%, 3%, 0.3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* FORM */
form {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
}
/* TEXTBOX */
#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid hsl(0, 0%, 0%, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
}
/* RADIO BUTTONS */
label {
  font-size: 1.5em;
  font-weight: bold;
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 15px;
  background-color: hsl(0, 100%, 50%);
  color: #fff;
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  box-shadow: 0px 5px 10px hsl(0, 0%, 0%, 0.3);
}

button:active {
  opacity: 0.6;
  box-shadow: 0 0.1rem rgba(121, 121, 121, 0.65);
  transform: translateY(0.2rem);
  transition: all 0.15s ease-in-out;
}

button:hover {
  font-size: 1.4rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

button::after,
button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

button::before {
  top: -5px;
  bottom: auto;
  transform-origin: left;
}

button:hover::after,
button:hover::before {
  transform: scaleX(1);
}

/* PARAGRAPH */
#result {
  font-size: 1.75em;
  font-weight: bold;
}
