/* BOBY */
body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
}

/* HEADER */
h1 {
  color: hsl(223, 100%, 64%);
  text-shadow: 2px 2px 5px hsla(200, 38%, 3%, 0.3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* FORM */
form {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
}
/* TEXTBOX */
#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid hsl(0, 0%, 0%, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
}
/* RADIO BUTTONS */
label {
  font-size: 1.5em;
  font-weight: bold;
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 15px;
  background-color: hsl(0, 100%, 60%);
  color: #fff;
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  box-shadow: 0px 5px 10px hsl(0, 0%, 0%, 0.3);
}

button:hover {
  opacity: 0.8;
}

/* PARAGRAPH */
#result {
  font-size: 1.75em;
  font-weight: bold;
}
